@model Game
@using System.Text.Json
@{
    ViewData["Title"] = "Game Page";
}
<div class="container-fluid">
    <h1>A FAIRE </h1>
    <h2>Players :</h2>
    @foreach(var test in Model.Players)
{
        <p>@test</p>
    }
    <h2>number of rounds:</h2>
    <p> @Model.NumberOfRounds</p>

    <!-- Choose the number of pins  -->
    <div class="col-sm-6 col-md-4 col-lg-3 mb-3 d-flex align-items-start">
            <div class="card player-card">
                <div class="card-body align-items-center text-center">
                    @for (int i = 0; i< 1; i++) // MODIFIER LE 10 PAR LE NOMBRE DE QUILLES
                    {
                        //<img class="quille" src="../wwwroot/images/WhitePin.png" alt="Quille">
                    }
                </div>
            </div>
    </div>

</div>