@model Game
@using System.Text.Json
@{
    ViewData["Title"] = "Game Page";
}
<div class="container fluid py-4">
    <div class="row mb-4">       
        <!-- Name col border-customumn -->
        <div class="col border-custom border-custom">
            <span>Denis</span>
        </div>
        <!-- Scores col border-customumns -->
        <div class="col border-custom border-custom">
            <span> <label>t1:</label> 10</span>
            <span><label>t2:</label> 10</span>
            <span><label>res:</label> 10</span>
        </div> 
        <div class="col border-custom">
            <label>t1: 10</label>
            <label>t2: 10</label>
            <label>res: 10</label>
        </div>  
        <div class="col border-custom">
            <label>t1: 10</label>
            <label>t2: 10</label>
            <label>res: 10</label>
        </div>
        <div class="col border-custom">
            <label>t1: 10</label>
            <label>t2: 10</label>
            <label>res: 10</label>
        </div>
        <div class="col border-custom">
            <label>t1: 10</label>
            <label>t2: 10</label>
            <label>res: 10</label>
        </div>  
        <div class="col border-custom">
            <label>t1: 10</label>
            <label>t2: 10</label>
            <label>res: 10</label>
        </div> 
        <div class="col border-custom">
            <label>t1: 10</label>
            <label>t2: 10</label>
            <label>res: 10</label>
        </div> 
        <div class="col border-custom">
            <label>t1: 10</label>
            <label>t2: 10</label>
            <label>res: 10</label>
        </div> 
        <div class="col border-custom">
            <label>t1: 10</label>
            <label>t2: 10</label>
            <label>res: 10</label>
        </div> 
        <div class="col border-custom">
            <label>t1: 10</label>
            <label>t2: 10</label>
            <label>res: 10</label>
        </div>
    </div>

</div>
